/* LRL Recursive License

   Copyright Dorian Trupin <daeldir@gmail.com> © 2016

   Permission is granted to use, copy, modify and/or distribute
   this work as long as:

       You follow the license

   This license is under LRL Recursive license.

   This software is provided with the guarantee that it will
   fail some day. Use it at your own risk.

   For more details, see https://github.com/daeldir/LRL
*/

body {
    position: absolute; 
    top: 0%;
    text-align: justify;
    padding-bottom: 4em;
    font-size: 16pt;
}

@media all and (min-width: 1200px) {
    body {
        width: 50%;
        left: 50%;
        margin-left: -25%;
    }
}

@media all and (max-width: 1200px) and (min-width: 700px) {
    body {
        width: 75%;
        left: 50%;
        margin-left: -37.5%;
    }
}

@media all and (max-width: 700px) {
    body {
        width: 90%;
        left: 50%;
        margin-left: -45%;
    }
}

nav {
    display: flex;
    text-align: center;
}

nav div {
    flex-grow: 1;
    flex-basis: 25%;
}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 3em;
    font-family: sans-serif;
}

p {
    margin-bottom: 1.5em;
}

li {
    list-style-type: " – ";
}

.example {
    background-color: #FEA;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 10px;
}

.centered {
    text-align: center;
}

.footnote {
    font-size: 0.8em;
    opacity: 0.7;
}

.niho {
    color: rgba(69,103,137,0.7);
    width: 5em;
    text-align: right;
    margin-left: -5.3em;
    position: absolute;
    left: 0;
}
.centered .niho {
    position: relative;
    margin-left: 0;
}
.lu {
    color: rgba(69,103,137,0.9);
}
.faho {
    color: rgba(69,103,137,1);
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
}

a {
    color: #00A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #008;
}

a:visited {
    color: #80A;
}
